<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ (string ( $.Site.Language) ) }}" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
    <html class="no-js" lang="{{ (string ( $.Site.Language) ) }}" dir="ltr">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
                wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
        <title>{{ .Params.title }} - {{ i18n "canadian-digital-service" }}</title>
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <!-- Meta data -->
        <meta name="description" content="{{ .Params.description }}">
        <!-- Meta data-->
        <!--[if gte IE 9 | !IE ]><!-->
        <link href="/assets/lib/gcweb-dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="/lib/gcweb-dist/GCWeb/css/theme.min.css">
        {{ $sass := resources.Get "sass/cds.scss" }}
        {{ $style := $sass | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <link href="admin/config.yml" type="text/yaml" rel="cms-config-url">
        <!--<![endif]-->
        <!--[if lt IE 9]>
        <link href="/assets/lib/gcweb-dist/GCWeb/assets/favicon.ico" rel="shortcut icon" />
    
        <link rel="stylesheet" href="/assets/lib/gcweb-dist/GCWeb/css/ie8-theme.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/assets/lib/gcweb-dist/wet-boew/js/ie8-wet-boew.min.js"></script>
        <![endif]-->
        <!--[if lte IE 9]>
    
    
        <![endif]-->
        <noscript><link rel="stylesheet" href="/lib/gcweb-dist/wet-boew/css/noscript.min.css" /></noscript>
        <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
        <script>dataLayer1 = [];</script>
        <!-- End Google Tag Manager -->
    
        <link rel="alternate" type="application/rss+xml" title="{{ i18n "canadian-digital-service" }}" href="/feed.xml" />
        <meta name="google-site-verification" content="sBa9o-9RVlIHHlyeaHgIir20ZKcSuzLVgCCeXIMgKZg" />
    </head>
    <body vocab="http://schema.org/" typeof="WebPage" class="{{ .Params.title }} {{ (string ( $.Site.Language) ) }}">
    <!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
    <noscript><iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer1'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer1','GTM-TLGQ9K');</script>
    <!-- End Google Tag Manager -->
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">{{ i18n "skip-to-content" }}</a>
        </li>
    </ul>

    {{ block "fip" . }}
        {{ partial "fip.html" }}
    {{ end }}

    {{ block "menu" . }}
        <nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="cds-menu" typeof="SiteNavigationElement">
            <div class="container topbar" id="site--topbar">
                <h2>{{ i18n "topics-menu" }}</h2>
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a href="/" class="cds-logo" role="img" aria-label="{{ i18n "aria-cds-website" }}"></a>
                    </div>
        
                    <div class="nav-container">
                        <div id="js-mobileNav">
                            <div id="js-mobileNav--closeContainer">
                                <button id="js-mobileNav--button">
                                    <span class="text">{{ i18n "close" }}</span>
                                    <span class="glyphicon glyphicon-remove close-icon"></span>
                                </button>
                            </div>
                        <div class="mobile-lang"></div>
                            <ul class="top-nav">
                                {{ range $menu := .Site.Menus.main }}
        
                                    <li class="top-nav--link">
                                        <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                                    </li>
                                {{end}}
                            </ul>
                        </div>
                        <button class="main-nav-button" id="js-mainNavButton">
                            <span class="main-nav-button--text">Menu</span>
                            <span class="main-nav-button--button">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    {{ end }}

    {{ block "title" . }}
        <div class="page-banner" style="background-image:url('/img/cds/header-images/{{ .Params.image }}')">
            <div class="page-banner--scrim"></div>
            <div class="container">
                <div class="page-banner--title">
                    <h1>{{ i18n .Params.title }}</h1>
                    {{ if .Params.subtitle }}
                        <span class="page-title-sub">
                            {{ .Params.subtitle }}
                        </span>
                    {{ end }}
                </div>
            </div>
        </div>
    </header>
    {{ end }}

    {{ block "main" . }}

    <main role="main" property="mainContentOfPage">
        <section id="wb-cont">
            {{ .Content }}
        </section>

    {{ end }}
    
    {{ block "footer" . }}
    
    <footer role="contentinfo" id="wb-info">
        <!-- toto include footer -->
    </footer>
    <!--[if gte IE 9 | !IE ]><!-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="/lib/gcweb-dist/wet-boew/js/wet-boew.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="/assets/lib/gcweb-dist/wet-boew/js/ie8-wet-boew2.min.js"></script>
    
    <![endif]-->
    <script src="/lib/gcweb-dist/GCWeb/js/theme.min.js"></script>
    <script src="/js/cds-app.js"></script>
    
    <!-- Google Analytics -->
    <!-- TODO -->
    {{ end }}
    </body>
    </html>