{{ define "title" }}
    <header role="banner">
        <div class="page-banner">
            <div class="page-banner--video">
                <video playsinline muted loop poster="/img/cds/header-images/front-poster-image.jpg" id="js-video-bg" aria-hidden="true">
                    <source src="/img/cds/header-images/homepage_header.mp4" type="video/mp4">
                </video>
                <div class="page-banner--scrim"></div>
    
                <div class="page-banner--video-controls hidden" aria-hidden="true">
                    <div id="js-play-pause">
                        <a href="#" id="js-paused" class="video-banner--control-button">
                            <span class="fa fa-play pause-ico"></span>
                            <span class="button-text">{{ i18n "play" }}<span class="sr-only"> video</span></span>
                        </a>
                        <a href="#" id="js-playing" class="video-banner--control-button" style="display: none;">
                            <span class="fa fa-pause pause-ico"></span>
                            <span class="button-text">{{ i18n "pause" }}<span class="sr-only"> video</span></span>
                        </a>
                    </div>
                </div>
            </div>
    
            Menu?
    
            <div class="page-banner--tag-line">
                <div class="container">
                    <div class="row">
                        <div class="page-banner--tag-line--logo-container col-xs-12 col-sm-3 col-sm-offset-2 col-md-offset-3">
                            <object type="image/svg+xml" tabindex="-1" data="/img/cds/cds-logo-{{ string (.Site.Language) }}.svg" class="page-banner--tag-line--logo"></object>
                            <h1 class="wb-inv">{{ i18n "canadian-digital-service" }}</h1>
                        </div>
                        <div class="h1 col-xs-12 col-sm-7 col-md-6">{{ i18n "homepage-tag-line" }}</div>
                    </div>
                </div>
            </div>
        </div>
{{ end }}
{{ define "main" }}
    
    </header>
    <main role="main" property="mainContentOfPage">
        <section id="wb-cont">
            {{ .Content }}
        </section>
    </main>

    <section class="section section--featured-blogposts">
            <div class="container">
                <h2 class="section--title">Featured blog posts</h2>
        
                <div class="row blog-posts">
        
                    {{ range first 4 .Pages }}
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <a class="post" href="{{ .Params.url }}">
                            <div class="image" style="background-image:url('/img/cds/{{ .Params.image }}')"></div>
                            <div class="text">
                                <h3>{{ .Params.title }}</h3>
                            <div class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                            </div>
                        </a>
                    </div>
                    {{ end }}
                </div>
        
                <div class="button-center">
                    <a href="/blog">More blog posts</a>
                </div>
            </div>
        </section>

    <section class="section section--contact page-wide--outer-container-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 hidden-xs">
                        <div class="hiGraphic"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h2>Connect with us!</h2>
                        {{ partial "contact-info.html" . }}
                </div>
            </div>
        </div>
    </section>	   
        
    <section class="section section--mailing-list">
        {{ $path := printf "%s%s%s" "mailing-list." (string ($.Site.Language)) ".html" }}
        {{ partial  $path }}
    </section>

{{ end }}