<!DOCTYPE html>
<html lang="en-US">
  {{ partial "css.html" }}
  {{ partial "langSwitch" . }}
  {{ partial "head.html" . }}
...        
  <h1 id="title">{{i18n "our-team"}}</h1>

  <section>
    <h2>Key Contacts</h2>
  
    <div>
      <div>
        {{ range $member := $.Site.Data.team.exec }}
        <div>
          <div>
  
            <div>
              <div class="profilePicture" style="background-image: url('/img/cds/{{ index $member "image-name" }}');"></div>
            </div>
  
            <div>
              <span>{{ $member.name }}</span>
              <span>{{ index $member.title (string ( $.Site.Language) ) }}</span>
              <div>
                {{ if ne $member.email nil }}
                  <span>
                    <a href="mailto:{{ $member.email }}" aria-label="Link to {{ $member.name }}'s Email">
                      Email
                    </a>
                  </span>
                {{ end }}
                {{ if ne $member.twitter nil }}
                  <span>
                    <a href="https://twitter.com/{{ $member.twitter }}" aria-label="Link to {{ $member.name }}'s Twitter Account">
                      Twitter
                    </a>
                  </span>
                {{ end }}
                {{ if ne $member.linkedin nil }}
                  <span>
                    <a href="https://linkedin.com/in/{{ $member.linkedin }}" aria-label="Link to {{ $member.name }}'s Linkedin Profile">
                      LinkedIn
                    </a>
                  </span>
                {{ end }}
                {{ if ne $member.github nil }}
                  <span>
                    <a href="https://github.com/{{ $member.github }}" aria-label="Link to {{ $member.name }}'s GitHub profile">
                      GitHub
                    </a>
                  </span>
                {{ end }}
              </div>
            </div>
  
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  
    <h2>Meet the full team</h2>
  
    <div>
      <div>
        {{ range $member := .Site.Data.team.team }}
          <div>
            <div>
              <div>
                <div class="profilePicture" style="background-image: url('/img/cds/{{ index $member "image-name" }}');"></div>
              </div>
  
              <div>
                <span>{{ $member.name }}</span>
                <span>{{ index $member.title (string ( $.Site.Language) ) }}</span>
                <div>
                  {{ if ne $member.email nil }}
                    <span>
                      <a href="mailto:{{ $member.email }}" aria-label="Link to {{ $member.name }}'s Email">
                        Email
                      </a>
                    </span>
                  {{ end }}
                  {{ if ne $member.twitter nil }}
                    <span>
                      <a href="https://twitter.com/{{ $member.twitter }}" aria-label="Link to {{ $member.name }}'s Twitter account">
                        Twitter
                      </a>
                    </span>
                  {{ end }}
                  {{ if ne $member.linkedin nil }}
                    <span>
                      <a href="https://ca.linkedin.com/in/{{ $member.linkedin }}" aria-label="Link to {{ $member.name }}'s LinkedIn Profile">
                        LinkedIn
                      </a>
                    </span>
                  {{ end }}
                  {{ if ne $member.github nil }}
                    <span>
                      <a href="https://github.com/{{ $member.github }}" aria-label="Link to {{ $member.name }}'s GitHub profile">
                        GitHub
                      </a>
                    </span>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  
...
</html>