{{ define "main" }}
<div class="container">
    <section class="section work-with-us--intro page-intro--outer-container-padding">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="section--title">Join CDS</h2>
                    {{ if gt (len (where .Pages ".Params.archived" "==" false)) 0 }}
                        <div class="cell-background">
                            <h4>Applications open for a limited time</h4>
                            {{ if gt (len (where (where .Pages ".Params.archived" "==" false) ".Params.postingtype" "==" "senior-job-post")) 0 }}
                                <p style="margin-bottom: 0.5rem;">We’re looking to fill these senior positions as soon as possible:</p>    
                                <div class="row mrgn-tp-0">
                                    <ul>
                                        {{ range $p := (where (where .Pages ".Params.archived" "==" false) ".Params.postingtype" "==" "senior-job-post") }}
                                            <li><a href={{ .RelPermalink }}>{{ .Title }}</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}
                            {{ if gt (len (where (where .Pages ".Params.archived" "==" false) ".Params.postingtype" "==" "job-post")) 0 }}
                                <p style="margin-bottom: 0.5rem;">We’re looking to fill these positions as soon as possible:</p>   
                                <div class="row mrgn-tp-0">
                                    <ul>
                                        {{ range $p := (where (where .Pages ".Params.archived" "==" false) ".Params.postingtype" "==" "job-post") }}
                                            <li><a href={{ .RelPermalink }}> {{ .Title }}</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}

                        </div>
                    {{end}}

                <p>We’re building a team of talented, passionate, and driven people to work on some of Canada’s <a href="/2017/08/24/picking-our-projects/">biggest service delivery opportunities</a>. From improving the citizenship process to helping veterans access their benefits, this is an opportunity to make a real impact for your country. <a href="/#mission">Learn more about our mission</a>.</p><h3>The team</h3>
                <p>Our small, multi-disciplinary teams are made up of developers, designers, researchers, data scientists and product managers. We’re committed to building a team that’s diverse in gender, indigenous heritage, race, disability, age, language and professional background.</p>
            </div>
        </div>
    </section>
</div>

{{ .Content }}

{{ end }}